<div id="submit-name-modal" class="modal fade" data-new-user="<%= !current_user %>">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">


        <div class="modal-body">
          <h4> <%= f.label :email, 'Введите адрес электронной почты:' %> </h4>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <span class="help-block">Создатель теста будет идентифицировать вашу личность по этому адресу почтового ящика.</span>
          </div>
        </div>

        <div class="modal-body">
          <h4> <%= f.label :password, 'Пароль:' %> </h4>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="modal-body">
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, 'Запомнить меня' %>
          </div>
        <% end -%>
        </div>

        <div class="modal-body">
            <%= render "devise/shared/links" %> 
        </div>

        <div class="modal-footer">
          <%= f.submit 'Log in', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>

</div>
