

<div class="container">
  <% if @survey.nil? %>
    <p>
      This survey is no longer available
  #  </p>
  <% elsif @survey.available_for_participant?(@participant) %>
<div id="primary" data-mercury="full">



   <%= render 'form' %>
    <%= link_to "Edit Page", request.path  %></p>

    <%= link_to 'hell', new_attempt_path(survey_id: @survey.id), class: 'survey-name' %>
    </div>


    <!--<p><%= link_to "Edit Page", "/editor" + new_attempt_path(survey_id: @survey.id), id: "edit_link", data: {save_url: new_attempt_path(survey_id: @survey.id)  } %></p>
  --><% else %>
    <p>
      You have spent all the possible attempts to answer this Survey
    </p>
    <p>
      <%= link_to delete_user_attempts_path(@survey.id, session[:user_id]), method: :delete do %>
        Click here to reset the attempts
      <% end %>
    </p>
  <% end -%>
</div>
